.reveal section h1,
.reveal section h2,
.reveal section h3,
.reveal section figcaption {
  position: relative;
  animation: mymove 4s infinite;
  font-style: normal;
  font-size: 60%;
  text-transform: none;
  text-align: center;
}

@keyframes mymove {
  from {color: white;}
  to {color: brown;}
}

.reveal section img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 60vh;
  border: none;
  box-shadow: none;
}
